<div>

  <button class="anim-btn">
    <span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span>
  </button>

  <div class="anim-div blue1">
    <div class="loader">Loading...</div>
  </div>

  <div class="anim-div blue2">
    <div class="loader3">Loading...</div>
  </div>

  <div class="anim-div blue1">
    <div class="loader4">Loading...</div>
  </div>

  <div class="anim-div blue2">
    <div class="loader5">Loading...</div>
  </div>


  <div class="anim-div blue1">
    <div class="loader6">Loading...</div>
  </div>


</div>

<div>

  <div class="anim-div blue2">
    <div class="loader7">Loading...</div>
  </div>

  <div class="anim-div blue2">
    <div class="loader8">Loading...</div>
  </div>

  <div class="anim-div blue2">
    <div class="loader9">Loading...</div>
  </div>


</div>
